$roboto-font: 'Roboto', sans-serif; 
$primary-font: "Plus Jakarta Sans", sans-serif;

//colors
$blue: #666CA3;
$blue-dark:#4851FF;
$black: #13183F;
$grey:#83869A;
$pink:#F74780;
$pink-light:#FFA7C3;
$white:#FCFCFF;
$orange: #FF6F48;
$magenta: #F02AA6;

$gradient-pink-orange: linear-gradient(180deg,$orange 0.04%, $magenta 100%);
$gradient-pink-blue: linear-gradient(180deg, $blue-dark 0%, $magenta 99.92%);

